# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Game DLLs — copyrighted, don't commit
Assets/Plugins/Puck/*.dll
Assets/Plugins/Puck/*.dll.meta

# OS
.DS_Store
Thumbs.db

# IDE
.vs/
.idea/
*.csproj
*.sln
*.suo
